* {
    margin: 0;
    padding: 0;
    
}

header {
    padding: 22px 28px 28px;
    display: flex;
    flex-direction: row;
    
}

body {
    background: linear-gradient( #fff, #333333);
}

.container {
    width: 990px;
    margin: 0 auto;
    background-color: #fff;
}

.menu {
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 5px;
}
.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu ul li {
    margin: 12px;
}

.menu ul li a {
    font-size: 17px;
    font-family: "myriad-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #dc002d;
    text-decoration: none;
}

.menu ul li a:hover {
    font-size: 17px;
    font-family: "myriad-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    background-color: #dc002d;
    padding: 5px;
}

.menu ul>li.active>a {
    color: #8a8a8a !important;
    text-decoration: underline #cccccc 3px;
}

#banner{ 
    display: flex;
    flex-direction: row;
}

.destaque {
    padding: 37px 26px 15px;
    background-color: #dc002d;


}

h1 {
    font-size: 35px;
    color:#ffffff;
    letter-spacing: 4px;
    font-family: "myriad-pro", sans-serif;
    font-weight: 400;
    font-style: normal;

}

h3 {
    font-size: small;
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    padding-right: 30px;
    padding-top: 10px;
}

#content {
    padding: 20px 10px 10px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.btn-saiba-mais {
    border: 1px solid #dcdcdc;
    color: #dc002d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    line-height: 15.6pt;
    padding: 5px;
    text-decoration: none;
}

.btn-saiba-mais:hover {
    color: #333333;
}



footer{
    background-color: #e5e5e5;
}